<template>
  <div class="accordion accordion-flush" id="faqAccordion">
    <div v-for="(panelDataItem,i) in panelData" :key="i" class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" :data-bs-target="`#flush-collapse-${i}`" aria-expanded="false" aria-controls="flush-collapseOne">
                {{panelDataItem.title}}
            </button>
        </h2>
        <div :id="`flush-collapse-${i}`" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#faqAccordion">
            <div class="accordion-body">
                {{panelDataItem.text}}
            </div>
        </div>
    </div>
  </div>
</template>

<script>
export default {
    props: {
        panelData: {
            type: Object,
            required: true
        }
    }
}
</script>

<style lang="scss" scoped>
    
    
</style>