<template>
    <div class="trottl-features-card">
        <span class="card-img">
            <img :src="cardData.img"/>
        </span>
        <div class="card-text">
            <h2 class="card-title">{{cardData.title}}</h2>
            <p>
                {{cardData.text}}
            </p>
        </div>
    </div>
</template>

<script>
    export default {
        name: "FeaturesCard",
        props: {
            cardData: {
                type: Object,
                required: true
            }
        }
    }
</script>

<style lang="scss" scoped>
    .trottl-features-card{
        margin: 20px 12px;
        max-width: 540px;
        min-height: 217px;
        padding: 25px 40px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px; 
        .card-img{
            display: inline-block;
            max-width: 56px;
            width: 100%;
            margin-right: 18px;
        }
        .card-text{
            h2{
                font-family: Zilla Slab;
                font-weight: 500;
                font-size: 24px;
                line-height: 29px;
                color: #FF0000;
                margin-bottom: 12px;
            }
            p {
                font-family: Poppins;
                font-weight: normal;
                font-size: 15px;
                line-height: 22px;
            }
        }
    }
    @media screen and (max-width:595px){
        .trottl-features-card{
            flex-direction: column;
            .card-img {
                margin:0 0 20px 0;
            }
            .card-text {
                text-align: center;
            }
        }
    }
</style>