<template>
    <div class="row trottl-footer-section">
        <div class="col-12">
          <div class="trottl-section-content text-center">
            <h2 class="trottl-section-title">CONTACT US</h2>
            <p>support@globetrottl.com</p>
            <div class="media-handles">
              <a href="#" class="sm-handle"><img src="@/assets/frontend/social/twt.png" alt="twitter"> </a>
              <a href="#" class="sm-handle"><img src="@/assets/frontend/social/telegram.png" alt="twitter"></a>
              <a href="#" class="sm-handle"><img src="@/assets/frontend/social/medium.png" alt="twitter"></a>
              <a href="#" class="sm-handle"><img src="@/assets/frontend/social/reddit.png" alt="twitter"></a>
            </div>
            <p><span>Copyright © 2021 , Globetrottl</span></p>
          </div>
        </div>
    </div>
</template>
    
<style lang="scss" scoped>
    .trottl-footer-section {
      h2 {
        line-height: 50px;
        color: #000000;
        margin-bottom: 13px;
      }
      p{
        color: #000;
        font-family: Poppins;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
      }
      .media-handles{
        margin-top: 40px;
        margin-bottom: 19px;
        .sm-handle{
          display: inline-block;
          max-width: 32px;
          &:not(:last-child){
            margin-right: 12px;
          }

        }
      }
      .trottl-section-content {
        padding: 65px 0 90px;
      }
    }
</style>