<template>
  <div class="trottl-dashboard">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="trottl-dashboard-content">
            <div class="trottl-dashboard-card">
              <div class="card-body">
                <slot/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
  export default {
    name: 'DashboardLayout'
  }
</script>

<style lang="scss" scoped>
  @import '@/styles/variables.scss';

  .trottl-dashboard{
    font-family: Poppins;
    font-style: normal;
    
    .trottl-back-btn{
      position: absolute;
      top: 32px;
      left: 54px;
      display: inline-block;
      text-decoration: none;
    }

    &-content{
      padding: 150px 25px 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .trottl-dashboard-card{
        width: 100%;
        max-width: 725px;
        .card-body{
          background: #F9F9F9;
          box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
          border-radius: 10px;
          padding: 66px 30px;
          position: relative;
        }
      }
    }
  }

  @media screen and (min-width: 1200px){
    .trottl-dashboard{
      &-content{
        padding-left: 350px;
        padding-right: 350px;
      } 
    }
  }

  @media screen and (min-width: 992px){
    .trottl-dashboard{
      &-content{
        padding-left: 250px;
        padding-right: 250px;
        .card-body{
          padding: 66px 53px;
        }
      } 
    }
  }

  @media screen and (max-width:400px){
    .trottl-dashboard .trottl-back-btn{
        top: 25px;
        left: 30px;
    }
  }

</style>