@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Zilla+Slab:wght@600&display=swap');

$body-font-family: 'PT Sans', sans-serif;
$heading-font-family: 'Work Sans', sans-serif;
$trottl-primary-font-family: 'Zilla Slab';
$trottl-secondary-font-family: 'Poppins';

$headings: (
  'h4': (
    'letter-spacing': 0.1875rem,
    'weight': 900
  ),
  'h5': (
    'letter-spacing': 0.1875rem,
    'weight': 700
  ),
  'h6': (
    'letter-spacing': 0.1875rem,
    'size': 1rem,
    'weight': 700
  ),
  'subtitle-1': (
    'letter-spacing': 0.1875rem,
  ),
  'subtitle-2': (
    'letter-spacing': 0.1875rem,
  ),
  'body-1': (
    'size': .9375rem,
  )
);

$material-dark: (
  'app-bar': #0B1C3D,
  'cards': #212121,
  'tabs': #FFFFFF
);

$material-light: (
  'app-bar': #FFFFFF,
  'cards': #FAFAFA
);
