<template>
  <DashboardLayout>
    <BackBtn/>
    <div class="card-section">
      <div class="card-section-content">
        <h2 class="card-section-title">Select a project</h2>
        <div class="card-section-body">
          <ProjectCard/>
        </div>
      </div>
    </div>
  </DashboardLayout>
</template>

<script>
import ProjectCard from '@/components/dashboard/ProjectCard.vue'
// import store from '@/store'
// import Web3 from 'web3'
  export default {
  components: { ProjectCard },
    name: 'Earn',
    computed: {
  
    }

  }
</script>

<style lang="scss" scoped>
  @import '@/styles/variables.scss';

  .trottl-dashboard{
    .card-section{
      &-content{
        padding: 0 30px;
      }
      &-title{
        margin: 30px 0 15px;
      }
    }
  }
</style>