<template>
  <DashboardLayout>
    <div class="card-section">
      <div class="card-section-content">
        <h2 class="card-section-title">Earn</h2>
        <router-link :to="{name: 'Earn'}" class="card-section-body text-decoration-none">
          <span>start earning</span>
          <v-btn fab x-small depressed color="black">
            <v-icon
              small
            >
              mdi-plus
            </v-icon>
          </v-btn>
        </router-link>
      </div>
    </div>
    <div class="card-section">
      <div class="card-section-content">
        <h2 class="card-section-title">Your balance</h2>
        <router-link :to="{name: 'Wallet'}" class="card-section-body trottl-balance text-decoration-none">
        <!-- <div class="card-section-body"> -->
          <span class="trottl-symbol">
            <span><img src="@/assets/trottl-logo.svg" alt=""></span>
            <span>TROTTL</span>
          </span>
          <button class="trottl-balance">
            <span>100.00</span>
            <span>$100.00</span>
          </button>
        <!-- </div> -->
        </router-link>
      </div>
    </div>
    <div class="card-section">
      <div class="card-section-content">
        <h2 class="card-section-title">Get TROTTL</h2>
        <DashboardBtn>
          Buy TROTTL
        </DashboardBtn>
      </div>
    </div>
  </DashboardLayout>
</template>

<script>
import DashboardBtn from '../../components/base/DashboardBtn.vue'
import store from '@/store'
import Web3 from 'web3'
  export default {
  components: { DashboardBtn },
    name: 'Dashboard',
    data: () => ({
      }),
    computed: {
      trottlBalance: async ()=>{
        const activeAccount = store.state.activeAccount
        const trottlToken = store.state.trottlToken
        try{
          let bal = await trottlToken.methods.balanceOf(activeAccount).call({from: activeAccount})
          console.log(bal)
        } catch (e){
          console.log('Balance Error', e)
        }

      }
    }

  }
</script>

<style lang="scss" scoped>
  @import '@/styles/variables.scss';

  .trottl-dashboard{
    .card-section{
      &:first-of-type{
        span{
          color: #A3A3A3;
          font-size: 12px;
        }
      }
      &:not(:last-of-type){
        margin-bottom: 54px;
      }
      &:nth-of-type(2){
        .card-section-content{
          .card-section-body {
            width: 100%;
          }
        }
      }
      &-title{
        font-weight: 500;
        font-size: 26px;
        line-height: 39px;
        margin-bottom: 12px;
      }
      &-body{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: fit-content;
        background: #FFFFFF;
        border: 1.5px solid #E5E5E5;
        border-radius: 10px;
        padding: 40px 46px;
        font-size: 16px;
        transition: all .2s ease-in-out;

        &:hover{
          border: 1.5px solid darken(#e5e5e5, 10%);
          box-shadow: 0px 0px 2px 0px rgb(0 0 0 / 20%);
        }

        .trottl-symbol, .trottl-balance{
          margin-top: 5px;
          margin-bottom: 5px;
        }
        span {
          display: inline-block;
          color: #000;
          &.trottl-symbol{
            margin-right: auto;
            span:first-of-type{
              margin-right: 15px;
            }
          }
        }

        button{
          display: flex;
          flex-direction: column;
          margin-left: 40px;
        
          span:nth-of-type(2){
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 24px;
            color: #A3A3A3;
          }
        }
      }
    }
  }

  @media screen and (min-width: 992px){
    .trottl-dashboard{
      .card-section {
        &-body{
          button{margin-left: 80px;}
        }
      }
    }
  }
</style>