<template>
  <DashboardLayout>
    <BackBtn/>
    <div class="card-section">
    <ReceiveModal/>
    <TransferModal/>
      <div class="card-section-balance">
          <div class="section-image">
            <span><img src="@/assets/trottl-logo.svg" alt=""></span>
          </div>
          <div class="section-text">
            <p id="trottl-balance">10000000000.00</p>
            <p id="usd-balance">$1000000</p>
          </div>
      </div>
    </div>
    <div class="card-section">
        <div class="card-section-action">
          <div class="content">
              <dashboard-btn 
                class="action-btn" 
                href="#"
                data-bs-toggle="modal" 
                data-bs-target="#transferStaticBackdrop"
              >
                <v-icon size="18" color="#fff">mdi-telegram</v-icon>
                <span class="btn-text">Transfer</span>
              </dashboard-btn>
              <DashboardBtn 
                class="action-btn receive-btn" 
                href="#"
                data-bs-toggle="modal" 
                data-bs-target="#staticBackdrop"
              >
                <img src="@/assets/dashboard/barcode-icon.svg" alt=""> 
                <span class="btn-text">Receive</span>
              </DashboardBtn>
          </div>
        </div>
    </div>
    <div class="card-section">
        <div class="card-section-transaction">
            <h2>Activity</h2>
            <ul class="transactions">
                <li>No recent activity</li>
            </ul>
        </div>
    </div>
  
  </DashboardLayout>
</template>

<script>
import ReceiveModal from '@/components/dashboard/ReceiveModal.vue'
import TransferModal from '@/components/dashboard/TransferModal.vue'

export default {
    components: {
        ReceiveModal,
        TransferModal
    }
}
</script>
<style lang="scss" scoped>
    .trottl-dashboard{
        .card-section{
            text-align: center;
            &-balance{
                margin: 60px 0 38px;
                .section-image{
                    margin-bottom: 40px;
                }
                .section-text{
                    p {
                        margin-bottom: 0;
                    }
                    #trottl-balance{
                        margin-bottom: 8px;
                        font-weight: 600;
                        font-size: 26px;
                    }
                    #usd-balance {
                        font-size: 24px;
                        color: #A3A3A3;
                        margin-top: -5px;
                    }
                }
            }
            &-action{
                margin-bottom: 50px;
                .action-btn{
                    .btn-text{margin-left: 5px;}
                }
            }
            &-transaction{
                h2{
                    margin-bottom: 12px;
                    font-weight: 500;
                    font-size: 26px;
                    line-height: 39px;
                    color: #000000;
                }
                .transactions {
                   padding: 40px 20px;
                   background: rgba(229, 229, 229, 0.4);
                   border: 1.5px solid #E5E5E5;
                   box-sizing: border-box;
                   border-radius: 10px;
                   li{ 
                     display: inline-block;
                     width:100%;
                     font-size: 16px;
                     line-height: 24px;
                     text-align: center;
                     color: #A3A3A3;
                     &:not(:last-of-type){
                         margin-bottom: 8px;
                     }
                   }
                }
            }
        }
    }
    @media screen and (min-width: 575px){
        .trottl-dashboard{
            .receive-btn {
            margin-left: 30px;
            }
            .card-section {
            &-balance {
                .section-text #trottl-balance{
                    font-size: 45px;
                }
            }
            &-transaction{
                .transactions{
                    margin: 10px 20px;
                }
            }
            }
        }
    }

    @media screen and (min-width: 1200px){
        .trottl-dashboard {
            .card-section {
                &-transaction{
                    .transactions{
                        margin: 10px 75px;
                    }
                }
            }
        }
    }
</style>
