<template>
  <DashboardLayout>
    <div class="card-section">
      <div class="card-section-content">
        <div class="card-section-heading">
          <h1 class="card-section-title">Hi there <span><img src="@/assets/wave.svg" alt=""></span></h1>
          <p>
              Welcome to Trottl, we’re glad to have you.
              Follow this guide to get started.
          </p>
        </div>
        <div class="card-section-body">
            <Timeline> </Timeline>
        </div>
        <div class="card-section-cta">
          <div class="content">
            <router-link to="#">
              <DashboardBtn>Buy TROTTL</DashboardBtn>
            </router-link>

            <router-link :to="{name:'Dashboard'}">
              <DashboardBtn>GO TO DASHBOARD</DashboardBtn>
              <!-- <button class="trottl-cta-btn">GO TO DASHBOARD</button> -->
            </router-link>

          </div>
        </div>
      </div>
    </div>
  </DashboardLayout>
</template>

<style lang="scss" scoped>
  .trottl-dashboard {
    .card-section{
      &-title{
        font-size: 26px;
        font-weight: 500;
        margin-bottom: 15px;
      }
      &-heading{
        p {
          margin-bottom: 47px;
          font-size: 20px;
        }
      }
      &-cta{
        .content{
          display: flex;
          justify-content: center;
          margin: 97px 0 50px;

          .trottl-cta-btn {
            // background: #000;
            // text-transform: uppercase;
            // color:#fff;
            // padding: 9px 20px;
            // border-radius: 10px;
            // font-size: 14px;

            &:last-of-type{
              margin-left: 30px;
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: 768px) {
    .trottl-dashboard {
      .card-section{
        &-heading{
          p {
            padding-right: 140px;
          }
        }

        &-cta {
          .content {
            .trottl-cta-btn {
              padding: 9px 45px;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width:595px) {
    .trottl-dashboard {
      .card-section{
        &-cta {
          .content {
            .trottl-cta-btn {
              &:last-of-type{
                margin-left: 5px;
              }
            }
          }
        }
      }
    }
  }
</style>

<script>
  export default {
    name: 'Welcome',
    components: {
      Timeline: ()=> import('@/components/dashboard/Timeline')
    }
  }
</script>

