<template>
  <div class="trottl-home">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-7 col-12">
          <div class="trottl-section-content trottl-header pr-5">
            <h1 class="trottl-section-title">GlobeTROTTL is an innovative blockchain solution 
              for exchange of  value </h1>
            <p>
              It is a DeFi ERC20 token, whose core business encourages
              investment in agriculture by providing a means through 
              which financiers can stake on farm projects with a stable 
              coin like USDT and gain 15% of investment staked inclusive 
              of GlobeTROTTL token.
              </p>
            <div class="section-cta-wrap">
              <a href="#">Stake USDT and generate TROTTL token ></a>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-12">
          <div class="trottl-section-content trottl-header trottl-img-wrap">
            <img src="@/assets/frontend/header-img.svg" alt="">
          </div>
        </div>
      </div>
      <div class="row trottl-about-section">
        <div class="col-12 col-md-6">
          <div class="trottl-section-content trottl-img-wrap">
            <img src="@/assets/frontend/about-img.png" alt="">
          </div>
        </div>
        <div class="col-12 col-md-6 ml-md-5 ">
          <div class="trottl-section-content trottl-about">
            <h2 class="trottl-section-title">
              About GlobeTROTTL 
            </h2>
            <p>
              This project is intended for making use of blockchain 
              and web3 to provide a means by which agro-based 
              projects can get financing through crowdfunding in order to produce 
              at maximum capacity.
            </p>
            <p>
              Participants realise returns on their initial capitial in addition to generating new TROTTL tokens after a specified 
              vesting period.
            </p>
            <div class="section-cta-wrap">
              <a href="#">Documentation ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="row trottl-features-section">
        <div class="col-12">
          <h2 class="trottl-section-title text-center">Features</h2>
          <p class="text-center">
            We are dedicated to bringing agile and trusted DeFi to everyone, solving problems inherent to the world of 
            cryptocurrency. Our products make transactions safe, fast, and easy.
          </p>
        </div>
        <div class="col-12">
          <div class="row">
            <div v-for="(cardData,i) in features" :key="i" class="col-md-6 col-12">
              <FeaturesCard :cardData="cardData" />
            </div>
            <div class="col-12">
              <div id="whitepaper-container" class="section-cta-wrap text-center">
                <a href="#">Whitepapper ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row trottl-faq-section">
        <div class="col-12">
          <div class="pre-title">
            <span></span>
            <p>GOT A QUESTION?</p>
            <span></span>
          </div>
          <h2 class="trottl-section-title text-center">FAQs</h2>
          <div class="faqs-wrap">
            <FaqExpansionPanel :panelData="faqData"/>
          </div>
        </div>
      </div>
      <div class="row trottl-footer-section">
        <div class="col-12">
          <div class="trottl-section-content text-center">
            <h2 class="trottl-section-title">CONTACT US</h2>
            <p>support@globetrottl.com</p>
            <div class="media-handles">
              <a href="#" class="sm-handle"><img src="@/assets/frontend/social/twt.png" alt="twitter"> </a>
              <a href="#" class="sm-handle"><img src="@/assets/frontend/social/telegram.png" alt="twitter"></a>
              <a href="#" class="sm-handle"><img src="@/assets/frontend/social/medium.png" alt="twitter"></a>
              <a href="#" class="sm-handle"><img src="@/assets/frontend/social/reddit.png" alt="twitter"></a>
            </div>
            <p><span>Copyright © 2021 , Globetrottl</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import FeaturesCard from '@/components/frontend/FeaturesCard'
import FaqExpansionPanel from '@/components/frontend/FaqExpansionPanel'
  export default {
    name: 'Home',
    components: {
      FeaturesCard,
      FaqExpansionPanel
     },
    data: () => ({
      features: {
        defiProtection: {
          img: require('@/assets/frontend/features-defi.png'),
          title: 'Defi Protection',
          text: 'Safeguarding numerous risk factors, individually or as a bundle, DeFi protocols. GlobeTROLL protection is built to cover the multi-layer stack introduced by Defi composability.'
        },
        staking: {
          img: require('@/assets/frontend/features-staking.png'),
          title: 'Staking',
          text: 'Staking allows you to receive rewards by just keeping coins and tokens in your account. By staking your coins, you let them work for you and increase your earnings while they’re sitting in your account.'        
        },
        farm: {
          img: require('@/assets/frontend/features-farm.png'),
          title: 'Agriculture',
          text: 'GlobeTROLL Users will be able to farm our token "GTB" by interacting with the best protocol. we can distribute Users Farmed Token on Daily basis.'
        },
        totalControl: {
          img: require('@/assets/frontend/features-control.png'),
          title:'Total Control',
          text: 'Only you can access and transfer the funds in your digital wallet.'
        }
      },
      faqData: {
        1: {
          title: 'What is Globetrottl',
          text: 'lorem ipsum dolor sit amor dolor teni makalaki upen disuturn'
        },
        2:{
          title: 'How to use Globetrottl',
          text: 'lorem ipsum dolor sit amor dolor teni makalaki upen disuturn'
        },
        3: {
          title: 'Where can I use my TROTTL tokens',
          text: 'lorem ipsum dolor sit amor dolor teni makalaki upen disuturn'
        }
      }
    }),
  }
</script>

<style lang="scss" scoped>
  @import '@/styles/variables.scss';

  .trottl-home{
    &>.container-fluid>.row {
      padding: 15px 100px;
    }
    .trottl-section-title{
      font-family: $trottl-primary-font-family;
      font-size: 42px;
      font-weight: 600;
      margin-bottom: 36px;
    }
    .trottl-img-wrap{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
        height: auto;
      }
    }
    .section-cta-wrap{
      margin-top: 38px;
      a:link,a:visited {
        text-align: center;
        background: linear-gradient(86.47deg, #9D16EF 1.88%, #FD749B 96.04%);
        border-radius: 8px;
        display: inline-block;
        text-decoration: none;
        color: #fff;
        font-size: 14px;
        padding: 15px 30px;
        transition: .3s all ease-in;
        &:hover {
          color: darken(#fff, 7%);
        }
      }
    }
    .trottl-section-content {
      padding: 65px 0 120px;
      font-weight: 500;
      font-family: $trottl-secondary-font-family;
      color: #212E78;

      &.trottl-header{
          margin-top: 60px;
        &.trottl-img-wrap {
          max-width: 514px;
          img {
            width: 100%;
            height: auto;
            overflow: hidden;
          }
        }
      }
      &.trottl-about{
        color:#FFFFFF;
        padding-left: 55px;
        h2{
          margin-top: 35px;
        }
      }
    }
    .trottl-about-section{
      background: #212E78;
    }
    .trottl-features-section{
      &>.col-12:first-of-type{
        h2{
          margin:60px 0 30px;
        }
        p {
          font-family: Poppins;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 100px;
        }
      }
      .section-cta-wrap {
        margin-top: 85px;
        margin-bottom: 180px;
      }
    }
    .trottl-faq-section{

      .pre-title{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        span{ 
          display: inline-block;
          background: #000;
          height: 2px;
          max-width: 188px;
          width: 100%;
        }
        p {
          margin: 0 25px;
          white-space: nowrap;
        }
      }
     
      #faqAccordion {
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
      }
    }
    .trottl-footer-section {
      h2 {
        line-height: 50px;
        color: #000000;
        margin-bottom: 13px;
      }
      p{
        color: #000;
        font-family: Poppins;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
      }
      .media-handles{
        margin-top: 40px;
        margin-bottom: 19px;
        .sm-handle{
          display: inline-block;
          max-width: 32px;
          &:not(:last-child){
            margin-right: 12px;
          }

        }
      }
      .trottl-section-content {
        padding: 65px 0 90px;
      }
    }
  }

  @media screen and (max-width: 992px){
    .trottl-home{ 
      &>.container-fluid>.row {
        padding: 15px 50px;
      }
    }

  }
  @media screen and (max-width:768px){
    .trottl-home{ 
      &>.container-fluid>.row {
        padding: 15px 30px;
      }
      .trottl-section-content{
        &.trottl-about{
          padding-left: 0;
        }
      }
    }

  }
  @media screen and (max-width:575px){
    .trottl-home{ 
        .trottl-section-title{
          font-size: 35px;
          text-align: center;
        }
      .trottl-features-section{
        &>.col-12:first-of-type{
          h2{
            margin:60px 0 30px;
          }
          p {
            font-family: Poppins;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 100px;
          }
        }
        .section-cta-wrap {
          margin-top: 85px;
          margin-bottom: 180px;
        }
      }
    }

  }
</style>