<template>
    <span @click="goBack" class="trottl-back-btn"> <img src="@/assets/dashboard/less-than-icon.svg" alt=""></span>
</template>

<script>
import router from '@/router'

export default {
    methods: {
        goBack () {
            return router.go(-1)
        }
    }
}
</script>
<style scoped>
    .trottl-back-btn {
        cursor: pointer;
    }
</style>