<template>
    <a :href="href" class="trottl-cta-btn">
       <slot></slot>
    </a>
</template>

<style lang="scss" scoped>
    .trottl-cta-btn {
        display: inline-block;
        text-align: center;
        background: #000;
        text-transform: uppercase;
        color:#fff;
        padding: 9px 20px;
        border-radius: 10px;
        font-size: 14px;
        transition: all .2s ease-out;
        text-decoration: none;
        margin: 5px;
        cursor: pointer;

        ::v-deep{
            text-transform: capitalize;
        }

        &:active {
         color: #a3a3a3;
         transform: scale(.95);
        }
    
        &:hover{
            background: lighten(#000, 15%);
        }
    }
</style>

<script>
    export default {
        props: {
            href: {
                type: String
            }
        }
    }
</script>