<template>
  <v-navigation-drawer
    class="trottl-drawer"
    v-model="drawer"
    app
    temporary
  >
    <div class="trottl-logo">
      <span class="trottl-logo-img"><img src="@/assets/logo.svg" alt=""></span>
      <span class="trottl-logo-text">TROTTL</span>
    </div>
    <v-list>
      <span
        v-if="!userConnected"
      >
        <v-list-item
          v-for="(link, i) in links"
          :key="i"
          @click="onClick($event, link)"
          class="trottl-nav-item"
        >
          <router-link class="text-decoration-none trottl-nav-link" :to="{name: link.name}">
            {{link.text}}
          </router-link>
        </v-list-item>
      </span>

      <span
        v-else
      >
        <v-list-item 
          v-for="(navLink, i) in dashboardLinks" 
          :key="i"
          class="trottl-nav-item"
        >
          <router-link class="text-decoration-none trottl-nav-link" :to="{name: navLink.name}">
            <span class="nav-icon"><img :src="navLink.icon" alt=""></span> {{navLink.text}}
          </router-link>
        </v-list-item>
      </span>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
  // Utilities
  import {
    mapGetters,
    mapMutations,
  } from 'vuex'

  export default {
    name: 'CoreDrawer',

    computed: {
      ...mapGetters(['links']),
      ...mapGetters(['userConnected']),
      drawer: {
        get () {
          return this.$store.state.drawer
        },
        set (val) {
          this.setDrawer(val)
        },
      },
      dashboardLinks () {
        return this.$store.state.dashboardNavLinks
      }
    },

    methods: {
      ...mapMutations(['setDrawer']),
      onClick (e, item) {
        e.stopPropagation()

        if (item.slug === '/') {
          this.$vuetify.goTo(0)
          this.setDrawer(false)
          return
        }

        if (item.slug || !item.name) return

        this.$vuetify.goTo(item.href)
        this.setDrawer(false)
      },
    },
  }
</script>

<style lang="scss" scoped>
.trottl-drawer{
  .trottl-logo{
    padding: 40px 30px 30px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.07);
    display: flex;
    align-items: center;
    margin-bottom: 13px;
    &-img{margin-right: 15px;}
    &-text{
      font-family: Montserrat, sans-serif;
      font-weight: 500;
      font-size: 26px;
      line-height: 32px;
      color: #212E78;
    }
  }
  .trottl-nav-item {
    .trottl-nav-link{
      padding-left: 17px;
      .nav-icon{
        margin-right: 10px;
      }
      font-family: Poppins;
      font-weight: 300;
      font-size: 18px;
      line-height: 27px;
      color: #A3A3A3;
      transition: all .3s ease-out;
      &:hover{
        color: darken(#a3a3a3, 10%)
      }
    }
  }
}
</style>