<template>
  <div>
    <v-app-bar 
      id="trottl-appbar"
      class="trottl-navigation"
      app
      flat
      height="85px"
    >
    
    <v-toolbar-title class="gt-title">
      <router-link :to="{name: 'Home'}" class="text-decoration-none">
        <img src="@/assets/logo.svg" alt="">
      </router-link>
    </v-toolbar-title>
     
    <v-spacer></v-spacer>

    <span
      v-if="!userConnected"
    >
      <router-link 
        class="text-decoration-none"
        v-for="(link, i) in links" 
        :key="i" 
        :to="{
          name: link.name, 
          params:{slug:link.slug}
        }"
      >
        <v-btn
          class="d-none d-md-flex trottl-navaigation-link"
          text
        >
          {{link.text}}
        </v-btn>
      </router-link>
    </span>

    <router-link 
      v-if="userConnected"
      class="text-decoration-none"
      :to="{name: 'Wallet'}"
    >
      <v-btn
        class="d-none d-md-flex trottl-navaigation-link"
        text
      >
        Wallet
      </v-btn>
    </router-link>

    <router-link 
      v-if="userConnected"
      class="text-decoration-none"
      :to="{name: 'Dashboard'}"
    >
      <v-btn
        class="d-none d-md-flex trottl-navaigation-link"
        text
      >
        Dashboard
      </v-btn>
    </router-link>

    <v-btn @click="connectToDapp" v-if="!userConnected && metaMaskInstallStatus" large depressed class="trottl-connect-btn">
      Connect wallet
    </v-btn>
    <v-btn @click="onboardMetaMask" v-if="!metaMaskInstallStatus" large depressed class="trottl-connect-btn">
      Install Metamask
    </v-btn>
    <v-btn 
      v-on="onAccountsChanged" 
      v-if="getActiveAccount" 
      large 
      depressed 
      class="trottl-data-btn"
      data-bs-toggle="modal" 
      data-bs-target="#staticBackdrop"
    >
      <p>{{getActiveAccount | clipAddress}}</p>
    </v-btn>
    
    <v-app-bar-nav-icon
      class="d-flex d-md-none"
      @click="toggleDrawer"
    />

    </v-app-bar>
    <addressModal/>
  </div>
  <!-- </v-card> -->
</template>

<script>
  import { mapGetters, mapMutations } from 'vuex'
  import MetaMaskOnboarding from '@metamask/onboarding'
  import store from '@/store'
  import router from '@/router'
  import addressModal from '@/components/dashboard/AddressModal.vue'
  import Web3 from "web3";
  import TrottlToken from '@/contracts/TrottlToken.json'

  export default {
    name: 'CoreAppBar',
    components: {
      addressModal
    },
    computed: {
      ...mapGetters(['links']),
      ...mapGetters(['metaMaskInstallStatus']),
      ...mapGetters(['getActiveAccount']),
      ...mapGetters(['userConnected']),
      onAccountsChanged () {
        ethereum.on('accountsChanged', (accounts) => {
          store.dispatch('loadAccounts', accounts)
        });
      }
    },
    methods: {
      ...mapMutations(['toggleDrawer']),
      connectToDapp: async () => {
        try {
          // Will open the MetaMask UI
          // You should disable this button while the request is pending!
          await ethereum.request({ method: 'eth_requestAccounts' })
          //get accounts::: 'eth_accounts' returns an array of addresses.
          const accounts = await ethereum.request({ method: 'eth_accounts' })
          //save accounts to state
          store.dispatch('loadAccounts', accounts)
          //check if accounts retrieved successfully
          if(accounts.length){
            store.dispatch('connectUser')
            // load blockchain data
            // async function loadBlockchainData (data) {
            //   if(typeof window.ethereum!== "undefined") {
            //     const web3 = new Web3(window.ethereum)
            //     const netId = await web3.eth.net.getId()
            //     const accounts = await web3.eth.getAccounts()

            //     if(typeof accounts[0]!== 'undefined'){
            //       const balance = await web3.eth.getBalance(accounts[0])
            //       store.dispatch('setAppState', {web3, netId, balance})
            //     } else {
            //       // some message to user to connect metamask or approve connection
            //     }
            //       // const trottl = new web3.eth.Contract(TrottlTimelock.abi, "0xdbaC46Ba63928724d95420bC4629F2965D730ec7")

            //     try {
            //       const trottl = new web3.eth.Contract(TrottlToken.abi, TrottlToken.networks[netId].address)
            //       // const trottlTimelock = new web3.eth.Contract(TrottlTimelock.abi, TrottlTimelock.networks[netId].address)
            //       // const trottlGovernor = new web3.eth.Contract(TrottlGovernor.abi, TrottlGovernor.networks[netId].address)

            //       store.dispatch('setContractState', {trottl})
            //       // store.dispatch('setContractState', {trottl, trottlTimelock, trottlGovernor})
            //     } catch (e) {
            //       console.log('Error', e)
            //       window.alert('Something went wrong check console for clues')
            //     }
            

            //     //assign values to variables web3, netId, accounts
            //     //check if account is detected, then loadBalances and setState else push onBoarding
            //     //in try block, load contracts
            //     //metamask check
            //   }else {
            //     window.alert('Please install metamask to use this application')
            //   }
            // }
            
            router.push({name: 'Welcome'})
          }
        } catch (error) {
          console.error(error);
        }
      },

          
      // loadBlockchainData: async (data) => {
      //   if(typeof window.ethereum!== "undefined") {
      //     const web3 = new Web3(window.ethereum)
      //     const netId = await web3.eth.net.getId()
      //     const accounts = await web3.eth.getAccounts()

      //     if(typeof accounts[0]!== 'undefined'){
      //       const balance = await web3.eth.getBalance(accounts[0])
      //       store.dispatch('setAppState', {web3, netId, balance})
      //     } else {
      //       return false
      //     }

      //     try {
      //       // const trottl = new web3.eth.Contract(TrottlTimelock.abi, "0xdbaC46Ba63928724d95420bC4629F2965D730ec7")
      //       const trottl = new web3.eth.Contract(TrottlToken.abi, TrottlToken.networks[netId].address)
      //       // const trottlTimelock = new web3.eth.Contract(TrottlTimelock.abi, TrottlTimelock.networks[netId].address)
      //       // const trottlGovernor = new web3.eth.Contract(TrottlGovernor.abi, TrottlGovernor.networks[netId].address)

      //       store.dispatch('setContractState', {trottl})
      //       // store.dispatch('setContractState', {trottl, trottlTimelock, trottlGovernor})
      //     } catch (e) {
      //       console.log('Error', e)
      //       window.alert('Something went wrong check console for clues')
      //     }
      

      //     //assign values to variables web3, netId, accounts
      //     //check if account is detected, then loadBalances and setState else push onBoarding
      //     //in try block, load contracts
      //     //metamask check
      //   }else {
      //     window.alert('Please install metamask to use this application')
      //   }
      // },
      onboardMetaMask: ()=> {
        const onboarding = new MetaMaskOnboarding()
        onboarding.startOnboarding()
      }
    },
    filters:{
      clipAddress:(str) => {
        if (str.length > 35) {
          return str.substr(0, 6) + '...' + str.substr(str.length-4, str.length);
        }
        return str;
      }
    }
  }
</script>

<style lang="scss" scoped>
 .trottl-navigation {
   &.theme--light.v-app-bar.v-toolbar.v-sheet#trottl-appbar{
    background-color: #fff;
   }
    ::v-deep{ 
      .v-toolbar__title{
        margin-left: 10px;
      }
      .trottl-data-btn{
        margin: 0 20px;

        .v-btn__content{
          flex-direction: column;
          font-weight: 600;
          font-size: 14px;
          text-align: right;
          
          p {
            margin: 0;
          }
        }
      }
      .trottl-connect-btn{
        margin: 0 20px;
        background: linear-gradient(86.47deg, #9D16EF 1.88%, #FD749B 96.04%);
        border-radius: 8px;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        color: #FFFFFF;
      }
      .trottl-navaigation-link {
        margin-right: 15px;
      }
    }
  }
  .trottl-navigation.v-sheet.v-sheet--tile.theme--light.v-toolbar.v-toolbar--flat.v-app-bar.v-app-bar--fixed {
      background-color: transparent;
  }
</style>
