<template>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5> -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h2>Account</h2>
        <div class="content-wrap">
          <span>
            {{'0x8DaCdE47741d5a65E8b6e71071801d9a28dD644F' | clipAddress}}
          </span>
          <button>
            Copy
          </button>
        </div>
        <div class="modal-cta mt-4">
          <button type="button" class="trottl-btn">Disconnect</button>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import store from '@/store'

export default {
  filters: {
    clipAddress:(str) => {
      if (str.length > 35) {
        return str.substr(0, 6) + '...' + str.substr(str.length-4, str.length);
      }
      return str;
    }
  }
}
</script>

<style lang="scss" scoped>
  .modal.fade.show#staticBackdrop{
    padding-right: 0 !important;
  }
  #staticBackdrop{
    .modal-dialog{
      justify-content: center;
      .modal-content{
        margin: 0 15px;
        max-width: 450px;
        border-radius: 10px;
        .modal-header{
          border-bottom: none;
        }
        .modal-body {
          padding: 0px 50px 60px;
          h2{
            text-align: center;
            margin-bottom: 15px;
            font-size: 26px;
          }
          .content-wrap{
            padding: 25px;
            background: rgba(229, 229, 229, 0.4);
            color: #a3a3a3;
            border: 1.5px solid #E5E5E5;
            box-sizing: border-box;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            text-overflow: ellipsis;
            overflow: hidden;
          }
          .modal-cta {
            .trottl-btn{
              background-color: #FF0000;
              text-transform: uppercase;
              color: #fff;
              font-weight: 500;
              display: inline-block;
              width: 100%;
              border-radius: 10px;
              border: 2px solid transparent;
              padding: 9px 30px;
              transition: all .3s ease-out;

              &:hover {
                background-color: darken(#ff0000, 10%);
              }
              &:focus {
                border: 2px solid #000;
              }
            }
          }
          
        }
      }
    }

  }
    .modal {
      overflow-y: auto;
    }

    .modal-open {
      overflow: auto;
    }
</style>