<template>
    <div class="project-card">
        <v-btn elevation="0" class="card-img" fab large></v-btn>
        <div class="card-text">
            <h3>Agro Estate</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, illum?</p>
        </div>
        <div class="card-chip">
            <span class="trottl-chip">250% ROI</span>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .project-card {
        font-family: Poppins;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        border: 1.5px solid #E5E5E5;
        border-radius: 10px;
        padding: 30px;
        margin: 20px 0;
            
        .card-img {
            margin-bottom: 15px;
            background: #C4C4C4 !important;
        }
        .card-text{
            h3 {
                font-size: 20px;
                line-height: 30px;
            }
            p {
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #A3A3A3;
                margin-bottom: 19px;
            }
        }
        .trottl-chip{
        border: 1px solid #e5e5e5;
        border-radius: 10px;
        padding: 8px 13px;
        font-size: 15px;
        font-weight: 500;
        white-space: nowrap;
        color: #A3A3A3;
        }
    }

    @media screen and (min-width: 590px){
        .project-card{
            flex-direction: row;
            text-align: left;
            .card-img {
                margin-right: 25px;
                margin-bottom: 0;
            }
            .card-text{
                margin-right: 15px;
            }
        }
    }
</style>