<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="content">
                    <ul class="timeline">
                        <li class="event" data-number="1" >
                            <h3>Lorem ipsum dolor sit.</h3>
                        </li>
                        <li class="event" data-number="2">
                            <h3>Lorem ipsum dolor sit amet.</h3>
                        </li>
                        <li class="event" data-number="3">
                            <h3>Lorem ipsum dolor sit amet consectetur.</h3>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped>
.timeline {
    border-left: 2px solid #000;
    background: transparent;
    margin: 0 auto;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 0 50px;
    list-style: none;
    text-align: left;
}

@media (max-width: 767px) {
    .timeline {
        max-width: 98%;
        padding: 0 25px;
    }
}

.timeline h1 {
    font-weight: 300;
    font-size: 1.4em;
}

.timeline .event h3 {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
}

.timeline .event {
    padding-bottom: 25px;
    margin-bottom: 5px;
    position: relative;
}

@media (max-width: 767px) {
    .timeline .event {
        /* padding-top: 30px; */
        padding-top: 10px;
    }
}

.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:before {
    left: -207px;
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
}

@media (max-width: 767px) {
    .timeline .event:before {
        left: 0px;
        text-align: left;
    }
}

.timeline .event:after {
    -webkit-box-shadow: 0 0 0 3px #000;
    box-shadow: 0 0 0 3px #000;
    left: -61.8px;
    background: #000;
    border-radius: 50%;
    height: 21px;
    width: 21px;
    content: "";
    top: 0;
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
}
.timeline .event:first-of-type::after{
    content: "1";
}
.timeline .event:nth-of-type(2)::after{
    content: "2";
}
.timeline .event:nth-of-type(3)::after{
    content: "3";
}

@media (max-width: 767px) {
    .timeline .event:after {
        left: -36.7px;
        top: 11px;
    }
}

/* .rtl .timeline {
    border-left: 0;
    text-align: right;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: 3px solid #000;
} */

/* .rtl .timeline .event::before {
    left: 0;
    right: -170px;
}

.rtl .timeline .event::after {
    left: 0;
    right: -55.8px;
} */
</style>