<template>
<!-- Modal -->
<div class="modal fade" id="transferStaticBackdrop" style="padding-right: 0;" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="transferStaticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title" id="transferStaticBackdropLabel">Modal title</h5> -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h2>Transfer</h2>
        <form action="">
            <div class="content-wrap">
               <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Address</label>
                <input type="text" class="form-control form-control-lg" id="formGroupExampleInput" placeholder="Receiver's address">
               </div>
               <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">Amount</label>
                <input type="number" step="0.01" class="form-control form-control-lg" id="formGroupExampleInput2" placeholder="100 TROTTL">
               </div>
               <div class="mb-3">
                  <div class="balance-section">
                    <span class="trottl-symbol">
                        <span><img src="@/assets/trottl-logo.svg" alt=""></span>
                        <span>TROTTL</span>
                    </span>
                    <span class="trottl-balance">
                        <span>100.00</span>
                    </span>
                  </div>
               </div>
               <div class="modal-cta mt-4">
                  <DashboardBtn class="w-100 py-3 mx-0 form-control">SEND</DashboardBtn>
               </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
</template>


<style lang="scss" scoped>
  #transferStaticBackdrop{
    padding: 0;
    .modal-dialog{
      justify-content: center;
      max-width: 700px;

      .modal-content{
        margin: 0 15px;
        border-radius: 10px;
        .modal-header{
          border-bottom: none;
        }
        .modal-body {
          padding: 0px 50px 18px;
          
          h2{
            text-align: center;
            margin-bottom: 15px;
            font-size: 26px;
          }
          .content-wrap {
            text-align: left;
            padding: 25px;
            color: #000;
            border-radius: 10px;

            .balance-section {
                display: flex;
                flex-wrap: wrap;
                border: 1.06661px solid #E5E5E5;
                border-radius: 7.11075px;
                padding: 30px;
                align-items: center;
                span {
                    display: inline-block;
                    color: #000;
                    &.trottl-symbol{
                        margin-right: auto;
                        span:first-of-type{
                            margin-right: 15px;
                        }
                    }
                }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 400px) {
    #transferStaticBackdrop{
        padding: 0;
        .modal-dialog{
        .modal-content{
            .modal-body { 
            .content-wrap {
                .balance-section {
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: nowrap;
                    span {
                        &.trottl-symbol{
                            margin-right: 0;
                            span:first-of-type{
                                margin-right: 15px;
                            }
                        }
                    }
                }
            }
            }
        }
        }
    }
  }
</style>