<template>
  <div >
<!-- 
    //////////// TO DOs \\\\\\\\\\\\\\\
    1. sweep homepage n centralize elements on md and lower screens
    2. disable "connect wallet" button when request to connect is pending
    3. wrap wallet balance with a router-link component
-->




    <!-- <v-fade-transition mode="out-in"> -->
    
    <div v-if="trottlData.init">
      <core-app-bar/>
      <core-drawer />
      <router-view />
    </div>
    <!-- </v-fade-transition> -->
    <div class="container" v-else>Loading content...</div>
  </div>
</template>

<script>
import Web3 from "web3";
// const contract = require("@truffle/contract");
// import TrottlToken from '@/contracts/TrottlToken.json'
// import TrottlTimelock from '../../trottl/build/contracts/TrottlTimeLock.json'
// import TrottlGovernor from '../../trottl/build/contracts/TrottlGovernorAlpha.json'
import { ethers } from "ethers";
import store from '@/store'


  export default {
    name: 'App',
    metaInfo: {
      title: 'GlobeTrottl',
      titleTemplate: 'Trottl',
      htmlAttrs: { lang: 'en' },
      meta: [
        { charset: 'utf-8' },
        { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      ],
    }
    ,
    data () {
     return {
        web3: null,
        provider: null,
        ethers: null,
        trottlToken: {},
        trottlData: {
          address: '0x0',
          balance: 100000000,
          init: true
        }  
      }
    },
    components: {
      CoreAppBar: () => import('@/components/base/Navigation'),
      CoreDrawer: () => import('@/components/base/Drawer')
    },
    mounted () {
          // connect the network using web3
        Web3.providers.HttpProvider.prototype.sendAsync = Web3.providers.HttpProvider.prototype.send;
        if (this.web3) {
          this.provider = this.web3.currentProvider;
        } else {
          this.provider = new Web3.providers.HttpProvider("http://localhost:7545");
        }
        this.web3 = new Web3(this.provider);

          const provider = new ethers.providers.Web3Provider(window.ethereum)
          const signer = provider.getSigner()

   
        //METAMASK CHECKS AND ONBOARDING

        const isMetaMaskInstalled = () => {
        //Have to check the ethereum binding on the window object to see if it's installed
          const { ethereum } = window;
          return Boolean(ethereum && ethereum.isMetaMask);
        };
        if(isMetaMaskInstalled() === true) {
          this.$store.dispatch('setMetaMaskInstallStatusToTrue')
        }else {
          return this.$store.getters.metaMaskInstallStatus
        }
        
        // async function loadBlockchainData (data) {
        //   if(typeof window.ethereum!== "undefined") {
        //     const web3 = new Web3(window.ethereum)
        //     const netId = await web3.eth.net.getId()
        //     const accounts = await web3.eth.getAccounts()

        //     if(typeof accounts[0]!== 'undefined'){
        //       const balance = await web3.eth.getBalance(accounts[0])
        //       store.dispatch('setAppState', {web3, netId, balance})
        //     } else {
        //       // some message to user to connect metamask or approve connection
        //     }
        //       // const trottl = new web3.eth.Contract(TrottlTimelock.abi, "0xdbaC46Ba63928724d95420bC4629F2965D730ec7")

        //     try {
        //       const trottl = new web3.eth.Contract(TrottlToken.abi, TrottlToken.networks[netId].address)
        //       // const trottlTimelock = new web3.eth.Contract(TrottlTimelock.abi, TrottlTimelock.networks[netId].address)
        //       // const trottlGovernor = new web3.eth.Contract(TrottlGovernor.abi, TrottlGovernor.networks[netId].address)

        //       store.dispatch('setContractState', {trottl})
        //       // store.dispatch('setContractState', {trottl, trottlTimelock, trottlGovernor})
        //     } catch (e) {
        //       console.log('Error', e)
        //       window.alert('Something went wrong check console for clues')
        //     }
        //     console.log(netId)
        

        //     //assign values to variables web3, netId, accounts
        //     //check if account is detected, then loadBalances and setState else push onBoarding
        //     //in try block, load contracts
        //     //metamask check
        //   }else {
        //     window.alert('Please install metamask to use this application')
        //   }

        // }


        // loadBlockchainData()
    }
  }
</script>

<style lang="scss">
  @import '@/styles/variables.scss';
  *{
    font-family: $trottl-secondary-font-family;
    font-weight: 500;
  }

</style>